extends layout


block breadcrumbs
  - var path = "";
  if breadcrumbs != null
    - path += "/" + breadcrumbs.join("/");
    ol.breadcrumb
      li: a(href="/") Index
      - var crumb = "";
      for b, index in breadcrumbs
        - crumb += "/" + b;
        if (index === breadcrumbs.length - 1)
          li.active #{b}
        else 
          li: a(href="#{crumb}") #{b}
        
block content
  if search
    h3 search results for '#{search}', #{searchcount} result(s).
  if topics && topics.length != 0
      ul.nav.nav-pills
        for t in topics
          li.navpills-custom
            a(href='#{path + "/" + t.title}' data-toggle="tooltip" data-container="body" data-placement="top" title="#{t.description}") #{t.title}

    hr
    
  include ./includes/index_articles.jade
    