extends ../layout

block content
	if edit_error
		.error #{edit_error}
	form.form-horizontal(method="POST" action="../update")
		input(type="hidden" name="id" value="#{art._id}")
		.form-group
			label.control-label.col-sm-4(for='title') Title:			
			.col-sm-4
				input.form-control(type='text' name='title' value="#{art.title}")
			.col-sm-offset-4

		.form-group
			label.control-label.col-sm-4(for='group') Group:
			.col-sm-4
				select.form-control(name="group")
					each o in topicgroups
						if o._id.equals(art.group._id)
							option(selected value="#{o._id}") #{o.title} / #{o.description}
						else
							option(value="#{o._id}") #{o.title} / #{o.description}
			.col-sm-offset-4
			
		.form-group
			label.control-label.col-sm-4(for='quicklink') Quicklink:
			.col-sm-4
				input.form-control(type='text' name='quicklink' value="#{art.quicklink}")
			.col-sm-offset-4
					
		.form-group
			label.control-label.col-sm-4(for='body') Body:
			.col-sm-4
				textarea.form-control(name="body" rows="10") #{art.body}
			.col-sm-offset-4
			
		.form-group
			.col-sm-offset-4.col-sm-4
				button.btn.btn-default.form-control(type='submit' id='submit' name='submit') SUBMIT
		
	include ../includes/links.jade