extends ../../layout

block content
	h3 Users and Groups Admin
	
	div.container
		div.result
			if result
				| #{result.msg}
		div.col-md-4
			h3 Users  
				small
					a.glyphicon.glyphicon-plus(href="/admin/siteadmin/adduser" title="Add User")
			table.table.table-striped
				th login
				th name
				th
				for u in users
					tr
						td #{u.login}
						td #{u.name}
						td
							a.glyphicon.glyphicon-edit(href="/admin/siteadmin/edituser?uid=#{u._id}" title="Edit User")
							span(style="margin-left: 5px;")
							a.glyphicon.glyphicon-trash(href="/admin/siteadmin/deluser?uid=#{u._id}" title="Delete User")
		div.col-md-8
			h3 Security Groups  
				small
					a.glyphicon.glyphicon-plus(href="/admin/siteadmin/addsecgroup" title="Add Security Group")
			table.table.table-striped
				th name
				th description
				th permissions
				for s in secgroups
					tr
						td {s.name}
						td {s.desc}
						td {s.perms}
						td
							a.glyphicon.glyphicon-edit(href="/admin/siteadmin/editsecgroup?gid=#{s._id}" title="Edit Security Group")
							span(style="margin-left: 5px;")
							a.glyphicon.glyphicon-trash(href="/admin/siteadmin/delsecgroup?gid=#{s._id}" title="Delete Security Group")

