extends ../layout

block content
    if add_error
        .error #{add_error}
    form.form-horizontal(method="POST")
    
        .form-group
            label.control-label.col-sm-4(for='title') Title:			
            .col-sm-4
                input.form-control(type='text' name='title')
            .col-sm-offset-4
            
        .form-group
            label.control-label.col-sm-4(for='description') Description:
            .col-sm-4
                input.form-control(type='text' name='description')
            .col-sm-offset-4
        
        .form-group
            label.control-label.col-sm-4(for='parent') Parent:
            .col-sm-4
                select.form-control(name="parent")
                    option(value="") -----
                    each o in topicgroups
                        if tid && o._id == tid
                            option(value=o._id selected) #{o.title} / #{o.description}
                        else
                            option(value=o._id) #{o.title} / #{o.description}
            .col-sm-offset-4
            
        .form-group
            .col-sm-offset-4.col-sm-4
                button.btn.btn-default.form-control(type='submit' id='submit' name='submit') SUBMIT
        
    include ../includes/links.pug